@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
/* Sticky footer */
html,
body {
    height: 100%;
    font-family: "Nunito", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    padding: 10px;
}

.footer {
    flex-shrink: 0;
    background-color: tomato;
    color: white;
}

.footer-icon {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

/* accordion filter */

a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: black;
}
a,
a:hover {
    cursor: pointer;
    text-decoration: none !important;
    color: black;
}

h2 {
    font-size: 20px;
}

/* Pagination */

.pagination > li > a {
    color: #f75454;
}
.pagination > .active > a {
    background-color: #f75454 !important;
    border: solid 1px #f75454 !important;
    color: #fff;
}
