html,
body {
    height: 100%;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    padding: 10px;
}

.footer {
    flex-shrink: 0;
    background-color: tomato;
    color: white;
}

/* accordion filter */

a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: black;
}
a,
a:hover {
    cursor: pointer;
    text-decoration: none !important;
    color: black;
}

h2 {
    font-size: 20px;
}

/*Accordion style*/
.custom-accordion .custom-menu,
.custom-accordion .custom-menu li {
    display: block;
    padding: 0;
    margin: 0;
}

.custom-accordion .custom-menu li a {
    text-decoration: none;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left !important;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    background-color: #343a40;
    padding: 10px 20px;
    font-size: 13px;
    position: relative;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.custom-accordion .custom-menu li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    bottom: 0;
    width: 0px;
    background: #f75454;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.custom-accordion .custom-menu li a:hover {
    padding-left: 30px;
    color: #fff;
}
.custom-accordion .custom-menu li a:hover:before {
    width: 8px;
    opacity: 1;
    visibility: visible;
}

.custom-accordion .accordion-item {
    position: relative;
    /* background: #4b4142; */
}
.custom-accordion .accordion-item .btn-link {
    display: block;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    text-align: left;
    border-radius: 0;
    position: relative;
    background: #f75454;
    color: #fff;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.custom-accordion .accordion-item.active .btn-link {
    background: #f75454;
    color: #fff;
}
.custom-accordion .accordion-item .accordion-body {
    color: #888;
}

/* Pagination */

.pagination > li > a {
    color: #f75454;
}
.pagination > .active > a {
    background-color: #f75454 !important;
    border: solid 1px #f75454 !important;
    color: #fff;
}

/* Footer */

.footer-icon {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
